body {
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 2px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 600px;
    padding-bottom: 30px;
}

html {
    background-image: url(../Images/field.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: lawngreen;
    border: 2px solid green;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
}

nav ul li {
    display: inline;
    border-right: 2px solid green;
    padding-left: 4px;
    padding-right: 4px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.current {
    color: gray;
    text-decoration: none;
}

.link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
